/* * {
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  } */
  
  .formContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .form {
    border: 1px #eee solid;
    border-radius: 5px;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 30%);
    padding: 32px;
    color: cadetblue;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
  
  .label {
    color: cadetblue;
    margin-bottom: 0.25em;
    font-size: 1em;
  }
  
  .input {
    border: 1px solid #ccc;
    box-sizing:border-box;
    color: #888;
    border-radius: 0.25em;
    padding: 0.2em 0.4em;
    width: 100%;
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 1em;
    font-weight: 200;
    font-family: inherit;
  }
  
  .input:required {
    border-left: 4px solid rgb(15, 11, 11);
  }
  
  .input:focus {
    outline: 2px solid lightseagreen;
  }
  
  .validationMessage {
    font-size: 0.8em;
    color: red;
    margin-top: 0.5em;
  }
  
  .innerContent {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .rhsComponent {
    height: 100%;
  }
  
  button {
    border: none;
    background-color: lightseagreen;
    border-radius: 5px;
    color: white;
    padding: 0.5em 2em;
    font-size: 1em;
    margin: 0 auto;
  }
  
  button:focus {
    outline: 2px solid rgb(19, 102, 98);
  }

  input, label {
    display:block;
}